div.poem-line {
  text-indent: -1em;
  padding-left: 1em;
  align: left;
  max-width: 720px;
  font-family: Baskerville; 
  font-size: 18px;
}

div.poem-line-blank {
  font-size: 10px;
}

div.poem-header {
  align: left;
  max-width: fit-content;
  font-family: Baskerville; 
  font-size: 20px;
  padding-bottom: 10px;
}

span.poem-date {
  font-style: italic;
}

span.poem-title {
  font-weight: bold;
}

section.poem-section {
  padding-left: 3%;
}
