div.poem-line {
  text-indent: -1em;
  padding-left: 1em;
  align: left;
  max-width: fit-content;
  font-family: Baskerville; 
  font-size: 20px;
}

div.poem-header {
  align: left;
  max-width: fit-content;
  font-family: Baskerville; 
  font-size: 20px;
  padding-bottom: 10px;
}

section.poem-section {
  padding-left: 3%;
}
