
body, html {
    height: 100%;
    margin: 0px;
    padding-top: 0px;
}


header {
  background-color: aliceblue;
  background-position: middle;
  background-size: cover;
  height: 240px;
}

div {}

.poem-line {
  text-indent: -1em;
  padding-left: 1em;
  align: left;
  max-width: fit-content;
  font-family: Baskerville; 
  font-size: 18px;
}

.poem-header {
  align: left;
  max-width: fit-content;
  font-family: Baskerville; 
  font-size: 18px;
}

section {
  padding: 10px;
  max-width: 1296px;
}

.poem-section {
  padding: 3%;
}

h1 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.left {
  float: left;
}

li.right {
  float: right;
}

li a {
  text-decoration: none;
  display: block;
  padding: 8px;
  font-size: larger;
  background-color: white;
}

/* Images */

img.circle {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}